doctype html
html
    head
        title CRM test
        link(rel='stylesheet', href='project.css')
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel="stylesheet")
    body
        .sidebar
            .logo
                .logo__image 
                .logo__label.logo__label_size-lg CRM
                .logo__label.logo__label_size-sm test
        .main
            .header
                a(href="#", role="button") Back
                h4.header__title administration
        //-
            .search-bar
                input(placeholder="Search for something...")
                .search-bar__label 4 services enregistrés
                a(href="#", role="button") add
